Repository brndnmtthws/conky, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, extras, sources, tests, web, appimage, 3rdparty, gh-actions, dependencies, audio, power, display: console, display: file, display: http, display: ncurses, display: wayland, display: x11, build system, cairo, disk io, cpu, lua, macos, mouse events, networking, nvidia, rendering, text

NetBSD: Fix meminfo.
  src/bsdcommon.cc
  src/bsdcommon.h
  src/netbsd.cc
Labels: sources

bsdcommon: Fix typo.
  src/bsdcommon.cc
Labels: sources

wayland: fix clean_text bug
  src/display-wayland.cc
Labels: sources, display: wayland

wayland: fix clean_text bug
  src/display-wayland.cc
Labels: sources, display: wayland

Bump version
  cmake/Conky.cmake
Labels: none

Bump version
  cmake/Conky.cmake
Labels: none

Update build.sh for switch to newer appimagetool
  appimage/build.sh
Labels: appimage

Use new appimagetool for building AppImages (#2130)
  appimage/build.sh
Labels: appimage

Add compiler cache
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/build-and-test-macos.yaml
  3rdparty/Vc/CMakeLists.txt
  3rdparty/Vc/cmake/OptimizeForArchitecture.cmake
  3rdparty/Vc/cmake/VcMacros.cmake
  CMakeLists.txt
  cmake/CCache.cmake
  cmake/ConkyBuildOptions.cmake
  cmake/ConkyPlatformChecks.cmake
  cmake/UninstallConky.cmake.in
  cmake/clang-tidy.cmake
  flake.nix
  src/CMakeLists.txt
  tests/CMakeLists.txt
Labels: sources, tests, 3rdparty, gh-actions, dependencies, build system

Add sccache to CI
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/build-and-test-macos.yaml
Labels: gh-actions

Switch to CMAKE_<LANG>_COMPILER_LAUNCHER
  .github/workflows/build-and-test-linux.yaml
  cmake/CCache.cmake
Labels: gh-actions

Fix GitHub cache retention
  .github/workflows/build-and-test-linux.yaml
  cmake/CCache.cmake
Labels: gh-actions

Update sccache cache each consecutive run
  .github/workflows/build-and-test-linux.yaml
  cmake/CCache.cmake
Labels: gh-actions

Enable sccache compression
  .github/workflows/build-and-test-linux.yaml
Labels: gh-actions

Tweak CMAKE_XYZ_COMPILER_LAUNCHER setting
  cmake/CCache.cmake
Labels: none

Add sccache to all workflows
  .github/scripts/setup-sccache.sh
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/build-and-test-macos.yaml
  .github/workflows/publish-appimage.yml
Labels: gh-actions

Add compiler cache and fix CMake deprecation warnings (#2132)
  .github/scripts/setup-sccache.sh
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/build-and-test-macos.yaml
  .github/workflows/publish-appimage.yml
  3rdparty/Vc/CMakeLists.txt
  3rdparty/Vc/cmake/OptimizeForArchitecture.cmake
  3rdparty/Vc/cmake/VcMacros.cmake
  CMakeLists.txt
  cmake/CCache.cmake
  cmake/ConkyBuildOptions.cmake
  cmake/ConkyPlatformChecks.cmake
  cmake/UninstallConky.cmake.in
  cmake/clang-tidy.cmake
  flake.nix
  src/CMakeLists.txt
  tests/CMakeLists.txt
Labels: sources, tests, 3rdparty, gh-actions, dependencies, build system

Update blame-ignore file
  .git-blame-ignore-revs
Labels: none

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - doc/*
          - doc/**/*
          - data/conky*.conf

extras:
  - changed-files:
      - any-glob-to-any-file:
          - extras/*
          - extras/**/*

sources:
  - changed-files:
      - any-glob-to-any-file:
          - src/*
          - src/**/*

tests:
  - changed-files:
      - any-glob-to-any-file:
          - tests/**/*
          - tests/*

web:
  - changed-files:
      - any-glob-to-any-file:
          - web/*
          - web/**/*

appimage:
  - changed-files:
      - any-glob-to-any-file:
          - appimage/*
          - appimage/**/*

3rdparty:
  - changed-files:
      - any-glob-to-any-file:
          - 3rdparty/*
          - 3rdparty/**/*

gh-actions:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/*
          - .github/workflows/**/*
          - .github/labeler.yml
          - .github/pull_request_template.md

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - web/package-lock.json
          - cmake/ConkyPlatformChecks.cmake

audio:
  - changed-files:
      - any-glob-to-any-file:
          - src/audacious.cc
          - src/audacious.h
          - src/cmus.cc
          - src/cmus.h
          - src/libmpdclient.cc
          - src/libmpdclient.h
          - src/mpd.cc
          - src/mpd.h
          - src/moc.cc
          - src/moc.h
          - src/mixer.cc
          - src/mixer.h
          - src/xmms2.cc
          - src/xmms2.h
          - src/pulseaudio.cc
          - src/pulseaudio.h

power:
  - changed-files:
      - any-glob-to-any-file:
          - src/apcupsd.cc
          - src/apcupsd.h
          - src/bsdapm.cc
          - src/bsdapm.h
          - src/smapi.cc
          - src/smapi.h

'display: console':
  - changed-files:
      - any-glob-to-any-file:
          - src/display-console.cc
          - src/display-console.hh
'display: file':
  - changed-files:
      - any-glob-to-any-file:
          - src/display-file.cc
          - src/display-file.hh
'display: http':
  - changed-files:
      - any-glob-to-any-file:
          - src/display-http.cc
          - src/display-http.hh
'display: ncurses':
  - changed-files:
      - any-glob-to-any-file:
          - src/nc.cc
          - src/nc.h
          - src/display-ncurses.cc
          - src/display-ncurses.hh
'display: wayland':
  - changed-files:
      - any-glob-to-any-file:
          - src/wl.cc
          - src/wl.h
          - src/wlr-layer-shell-unstable-v1.xml
          - src/display-wayland.cc
          - src/display-wayland.hh
'display: x11':
  - changed-files:
      - any-glob-to-any-file:
          - src/x11-color.cc
          - src/x11-color.h
          - src/x11.cc
          - src/x11.h
          - src/display-x11.cc
          - src/display-x11.hh

'build system':
  - changed-files:
      - any-glob-to-any-file:
          - '**/CMakeLists.txt'
          - '*.cmake'

cairo:
  - changed-files:
      - any-glob-to-any-file:
          - 'lua/*cairo*'

'disk io':
  - changed-files:
      - any-glob-to-any-file:
          - src/diskio.cc
          - src/diskio.h

cpu:
  - changed-files:
      - any-glob-to-any-file:
          - src/cpu.cc
          - src/cpu.h
          - src/proc.cc
          - src/proc.h
          - src/top.cc
          - src/top.h

lua:
  - changed-files:
      - any-glob-to-any-file:
          - lua/*
          - lua/**/*
          - src/llua.cc
          - src/llua.h
          - src/luamm.cc
          - src/luamm.h
          - src/lua-config.cc
          - src/lua-config.hh

macos:
  - changed-files:
      - any-glob-to-any-file:
          - src/darwin_sip.h
          - src/darwin.h
          - src/darwin.mm

'mouse events':
  - changed-files:
      - any-glob-to-any-file:
          - src/scroll.cc
          - src/scroll.h
          - src/mouse-events.cc
          - src/mouse-events.h

networking:
  - changed-files:
      - any-glob-to-any-file:
          - src/net_stat.cc
          - src/net_stat.h
          - src/tcp-portmon.cc
          - src/tcp-portmon.h
          - src/read_tcpip.cc
          - src/read_tcpip.h

nvidia:
  - changed-files:
      - any-glob-to-any-file:
          - src/nvidia.cc
          - src/nvidia.h

rendering:
  - changed-files:
      - any-glob-to-any-file:
          - src/text_object.cc
          - src/text_object.h
          - src/specials.cc
          - src/specials.h

text:
  - changed-files:
      - any-glob-to-any-file:
          - src/text_object.cc
          - src/text_object.h
          - src/template.cc
          - src/template.h
          - src/tailhead.cc
          - src/tailhead.h
          - src/specials.cc
          - src/specials.h
