Repository brndnmtthws/conky, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, extras, sources, tests, web, appimage, 3rdparty, gh-actions, dependencies, audio, power, display: console, display: file, display: http, display: ncurses, display: wayland, display: x11, build system, cairo, disk io, cpu, lua, macos, mouse events, networking, nvidia, rendering, text

Fix if_match comparison for string operands containing operator symbols (#1988)
  src/algebra.cc
Labels: sources

lua-text use cairo_fill_preserve
  lua/libcairo_text_helper.h
Labels: cairo, lua

Go back to `/proc`.
  src/main.cc
Labels: sources

Add algebra unit tests
  src/algebra.cc
  src/algebra.h
  tests/CMakeLists.txt
  tests/test-algebra.cc
Labels: sources, tests, build system

Fix test cases
  tests/test-algebra.cc
Labels: tests

Fix if_match comparison for string operands containing operator symbols (#1988)
  src/algebra.cc
Labels: sources

Add algebra unit tests
  src/algebra.cc
  src/algebra.h
  tests/CMakeLists.txt
  tests/test-algebra.cc
Labels: sources, tests, build system

Fix test cases
  tests/test-algebra.cc
Labels: tests

Hide U flag altogether if not on Linux
  doc/man.md.j2
  src/conky.cc
  src/main.cc
Labels: documentation, sources

Move `is_conky_already_running()` to src/linux.cc.
  src/linux.cc
  src/linux.h
  src/main.cc
Labels: sources

Implement `-U`.
  doc/man.md.j2
  src/conky.cc
  src/main.cc
Labels: documentation, sources

Use `ps` to check the running processes.
  src/main.cc
Labels: sources

Hide U flag altogether if not on Linux
  doc/man.md.j2
  src/conky.cc
  src/main.cc
Labels: documentation, sources

Move `is_conky_already_running()` to src/linux.cc.
  src/linux.cc
  src/linux.h
  src/main.cc
Labels: sources

Go back to `/proc`.
  src/main.cc
Labels: sources

Fix name check.
  src/main.cc
Labels: sources

Bump version
  cmake/Conky.cmake
Labels: none

Bump version
  cmake/Conky.cmake
Labels: none

Add math.h include to Vc/scalar/math.h
  3rdparty/Vc/Vc/scalar/math.h
Labels: 3rdparty

Implement `-U` for FreeBSD.
  doc/man.md.j2
  src/conky.cc
  src/freebsd.cc
  src/freebsd.h
  src/main.cc
Labels: documentation, sources

Implement `-U` for FreeBSD.
  doc/man.md.j2
  src/conky.cc
  src/freebsd.cc
  src/freebsd.h
  src/main.cc
Labels: documentation, sources

Implement `-U` for Haiku.
  doc/man.md.j2
  src/common.cc
  src/conky.cc
  src/haiku.cc
  src/haiku.h
  src/main.cc
Labels: documentation, sources

Fixing OpenBSD build.
  3rdparty/Vc/Vc/scalar/math.h
  cmake/Conky.cmake
  src/bsdapm.cc
  src/common.cc
  src/core.cc
  src/fs.cc
  src/openbsd.cc
  src/openbsd.h
Labels: sources, 3rdparty, power

Fix unclosed OBJ in core.cc
  src/core.cc
Labels: sources

Revert explicit void argument changes
  src/openbsd.cc
Labels: sources

Implement to_real_path in a cross-platform way
  src/common.cc
  src/common.h
Labels: sources

Use weakly_canonical to handle non-existant paths
  src/common.cc
  tests/test-common.cc
Labels: sources, tests

Simplify to_real_path
  src/common.cc
Labels: sources

Add OpenBSD CI
  .github/workflows/build-and-test-openbsd.yaml
Labels: gh-actions

Revert "Add OpenBSD CI"
  .github/workflows/build-and-test-openbsd.yaml
Labels: gh-actions

Fix architecture specific include
  src/bsdapm.cc
Labels: sources, power

Fix bsdapm.cc
  src/bsdapm.cc
Labels: sources, power

Remove clear_diskio_stats stub
  src/openbsd.cc
Labels: sources

Use same i18n include/link logic for all platforms
  cmake/ConkyPlatformChecks.cmake
Labels: dependencies

Fix sndio linking
  cmake/ConkyBuildOptions.cmake
  cmake/ConkyPlatformChecks.cmake
  cmake/config.h.in
  src/CMakeLists.txt
  src/core.cc
  src/main.cc
  src/mixer.cc
Labels: sources, dependencies, audio, build system

Stub get_battery_short_status
  src/openbsd.cc
Labels: sources

Cleanup and reduce diff
  cmake/ConkyPlatformChecks.cmake
  src/bsdapm.cc
  src/common.cc
  src/common.h
Labels: sources, dependencies, power

Fix X11 library references for lua modules
  cmake/ConkyPlatformChecks.cmake
Labels: dependencies

Fix pkg_check_modules usage
  cmake/ConkyPlatformChecks.cmake
Labels: dependencies

Remove -stdlib=libc++ on OpenBSD
  cmake/ConkyBuildOptions.cmake
Labels: none

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - doc/*
          - doc/**/*
          - data/conky*.conf

extras:
  - changed-files:
      - any-glob-to-any-file:
          - extras/*
          - extras/**/*

sources:
  - changed-files:
      - any-glob-to-any-file:
          - src/*
          - src/**/*

tests:
  - changed-files:
      - any-glob-to-any-file:
          - tests/**/*
          - tests/*

web:
  - changed-files:
      - any-glob-to-any-file:
          - web/*
          - web/**/*

appimage:
  - changed-files:
      - any-glob-to-any-file:
          - appimage/*
          - appimage/**/*

3rdparty:
  - changed-files:
      - any-glob-to-any-file:
          - 3rdparty/*
          - 3rdparty/**/*

gh-actions:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/*
          - .github/workflows/**/*
          - .github/labeler.yml
          - .github/pull_request_template.md

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - web/package-lock.json
          - cmake/ConkyPlatformChecks.cmake

audio:
  - changed-files:
      - any-glob-to-any-file:
          - src/audacious.cc
          - src/audacious.h
          - src/cmus.cc
          - src/cmus.h
          - src/libmpdclient.cc
          - src/libmpdclient.h
          - src/mpd.cc
          - src/mpd.h
          - src/moc.cc
          - src/moc.h
          - src/mixer.cc
          - src/mixer.h
          - src/xmms2.cc
          - src/xmms2.h
          - src/pulseaudio.cc
          - src/pulseaudio.h

power:
  - changed-files:
      - any-glob-to-any-file:
          - src/apcupsd.cc
          - src/apcupsd.h
          - src/bsdapm.cc
          - src/bsdapm.h
          - src/smapi.cc
          - src/smapi.h

'display: console':
  - changed-files:
      - any-glob-to-any-file:
          - src/display-console.cc
          - src/display-console.hh
'display: file':
  - changed-files:
      - any-glob-to-any-file:
          - src/display-file.cc
          - src/display-file.hh
'display: http':
  - changed-files:
      - any-glob-to-any-file:
          - src/display-http.cc
          - src/display-http.hh
'display: ncurses':
  - changed-files:
      - any-glob-to-any-file:
          - src/nc.cc
          - src/nc.h
          - src/display-ncurses.cc
          - src/display-ncurses.hh
'display: wayland':
  - changed-files:
      - any-glob-to-any-file:
          - src/wl.cc
          - src/wl.h
          - src/wlr-layer-shell-unstable-v1.xml
          - src/display-wayland.cc
          - src/display-wayland.hh
'display: x11':
  - changed-files:
      - any-glob-to-any-file:
          - src/x11-color.cc
          - src/x11-color.h
          - src/x11.cc
          - src/x11.h
          - src/display-x11.cc
          - src/display-x11.hh

'build system':
  - changed-files:
      - any-glob-to-any-file:
          - '**/CMakeLists.txt'
          - '*.cmake'

cairo:
  - changed-files:
      - any-glob-to-any-file:
          - 'lua/*cairo*'

'disk io':
  - changed-files:
      - any-glob-to-any-file:
          - src/diskio.cc
          - src/diskio.h

cpu:
  - changed-files:
      - any-glob-to-any-file:
          - src/cpu.cc
          - src/cpu.h
          - src/proc.cc
          - src/proc.h
          - src/top.cc
          - src/top.h

lua:
  - changed-files:
      - any-glob-to-any-file:
          - lua/*
          - lua/**/*
          - src/llua.cc
          - src/llua.h
          - src/luamm.cc
          - src/luamm.h
          - src/lua-config.cc
          - src/lua-config.hh

macos:
  - changed-files:
      - any-glob-to-any-file:
          - src/darwin_sip.h
          - src/darwin.h
          - src/darwin.mm

'mouse events':
  - changed-files:
      - any-glob-to-any-file:
          - src/scroll.cc
          - src/scroll.h
          - src/mouse-events.cc
          - src/mouse-events.h

networking:
  - changed-files:
      - any-glob-to-any-file:
          - src/net_stat.cc
          - src/net_stat.h
          - src/tcp-portmon.cc
          - src/tcp-portmon.h
          - src/read_tcpip.cc
          - src/read_tcpip.h

nvidia:
  - changed-files:
      - any-glob-to-any-file:
          - src/nvidia.cc
          - src/nvidia.h

rendering:
  - changed-files:
      - any-glob-to-any-file:
          - src/text_object.cc
          - src/text_object.h
          - src/specials.cc
          - src/specials.h

text:
  - changed-files:
      - any-glob-to-any-file:
          - src/text_object.cc
          - src/text_object.h
          - src/template.cc
          - src/template.h
          - src/tailhead.cc
          - src/tailhead.h
          - src/specials.cc
          - src/specials.h
