Repository brndnmtthws/conky, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, extras, sources, tests, web, appimage, 3rdparty, gh-actions, dependencies, audio, power, display: console, display: file, display: http, display: ncurses, display: wayland, display: x11, build system, cairo, disk io, cpu, lua, macos, mouse events, networking, nvidia, rendering, text

NetBSD: Implement `get_top_info()`.
  src/bsdcommon.cc
  src/bsdcommon.h
  src/netbsd.cc
Labels: sources

NetBSD: Fix CPU Usage.
  src/CMakeLists.txt
  src/bsdcommon.cc
  src/bsdcommon.h
  src/main.cc
  src/netbsd.cc
  src/netbsd.h
Labels: sources, build system

NetBSD: Implement `update_total_processes()`.
  src/bsdcommon.cc
  src/bsdcommon.h
  src/netbsd.cc
Labels: sources

Fix out_to_wayland giving nothing
  src/display-wayland.cc
Labels: sources, display: wayland

Remove priority
  src/display-console.cc
  src/display-file.cc
  src/display-http.cc
  src/display-ncurses.cc
  src/display-output.cc
  src/display-output.hh
  src/display-wayland.cc
  src/display-x11.cc
Labels: sources, display: console, display: file, display: http, display: ncurses, display: wayland, display: x11

Use explicit output ordering (#2103)
  src/display-console.cc
  src/display-file.cc
  src/display-http.cc
  src/display-ncurses.cc
  src/display-output.cc
  src/display-output.hh
  src/display-wayland.cc
  src/display-x11.cc
Labels: sources, display: console, display: file, display: http, display: ncurses, display: wayland, display: x11

Revert "Use private mapping from provided shm_pool buffer"
  src/display-wayland.cc
Labels: sources, display: wayland

Revert "Use private mapping from provided shm_pool buffer" (#2104)
  src/display-wayland.cc
Labels: sources, display: wayland

Fix bars & some elements using own_window_argb_value
  src/display-wayland.cc
Labels: sources, display: wayland

Fix non-text content using own_window_argb_value (#2105)
  src/display-wayland.cc
Labels: sources, display: wayland

Moved wl protocol files to separate directory in src
  src/CMakeLists.txt
  src/wl_protocols/wlr-layer-shell-unstable-v1.xml
Labels: sources, build system

Simplify adding new wayland protocols (#2110)
  src/CMakeLists.txt
  src/wl_protocols/wlr-layer-shell-unstable-v1.xml
Labels: sources, build system

Add blame ignore file
  .git-blame-ignore-revs
  extras/git_ranked.py
Labels: extras

Add more ignored commits
  .git-blame-ignore-revs
Labels: none

Use test globbing to find new tests
  tests/CMakeLists.txt
Labels: tests, build system

Silence CodeCoverage.cmake warning
  cmake/CodeCoverage.cmake
Labels: none

Update Catch2 to v3.7.1
  cmake/Catch.cmake
  cmake/CatchAddTests.cmake
  tests/CMakeLists.txt
  tests/catch2/catch.hpp
  tests/catch2/catch_amalgamated.cpp
  tests/catch2/catch_amalgamated.hpp
  tests/test-common.cc
  tests/test-diskio.cc
Labels: tests, build system

Add --output-on-failure flag to CI
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/build-and-test-macos.yaml
Labels: gh-actions

Do print errors in some cases
  src/colours.cc
Labels: sources

Move color parse message out of hex parser
  src/colours.cc
Labels: sources

Simplify error handling code
  src/colours.cc
Labels: sources

Reduce diff
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/build-and-test-macos.yaml
  src/colours.cc
Labels: sources, gh-actions

Replace vararg function with template varargs
  src/colours.cc
Labels: sources

Fix crash in tests caused by using CRIT_ERR
  src/colours.cc
Labels: sources

Revert --output-on-failure in CI
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/build-and-test-macos.yaml
Labels: gh-actions

Fix cause of the double-free
  tests/test-common.cc
Labels: tests

Move color parse error message out of hex parser (#1937)
  src/colours.cc
  tests/test-common.cc
Labels: sources, tests

Add blame ignore file (#2113)
  .git-blame-ignore-revs
  extras/git_ranked.py
Labels: extras

Update Catch2 from 2.13.9 to 3.7.1 (#2114)
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/build-and-test-macos.yaml
  cmake/Catch.cmake
  cmake/CatchAddTests.cmake
  cmake/CodeCoverage.cmake
  tests/CMakeLists.txt
  tests/catch2/catch.hpp
  tests/catch2/catch_amalgamated.cpp
  tests/catch2/catch_amalgamated.hpp
  tests/test-common.cc
  tests/test-diskio.cc
Labels: tests, gh-actions, build system

Add support for mocking to tests
  src/gui.h
  tests/CMakeLists.txt
  tests/mock/mock.cc
  tests/mock/mock.hh
  tests/mock/x11-mock.hh
  tests/mock/x11.cc
  tests/test-x11-diskio.cc
  tests/test-x11-struts.cc
Labels: sources, tests, build system

Properly handle predefined X11 atoms in mocking
  tests/mock/mock.hh
  tests/mock/x11.cc
Labels: tests

Fix mock linking
  tests/CMakeLists.txt
  tests/mock/mock.hh
Labels: tests, build system

Add X11 mocking utilities
  tests/CMakeLists.txt
  tests/mock/mock.hh
  tests/mock/x11-mock.hh
  tests/mock/x11.cc
  tests/test-x11-struts.cc
Labels: tests, build system

Fix x11_change_property not properly copying data
  src/x11.cc
  tests/CMakeLists.txt
  tests/mock/x11-mock.hh
  tests/mock/x11.cc
  tests/test-x11-struts.cc
Labels: sources, tests, display: x11, build system

Implement `-U` for NetBSD.
  doc/man.md.j2
  src/bsdcommon.cc
  src/bsdcommon.h
  src/conky.cc
  src/main.cc
  src/netbsd.cc
  src/netbsd.h
Labels: documentation, sources

Implement `-U` for NetBSD.
  doc/man.md.j2
  src/bsdcommon.cc
  src/bsdcommon.h
  src/conky.cc
  src/main.cc
  src/netbsd.cc
  src/netbsd.h
Labels: documentation, sources

Add display mocking
  src/conky.cc
  src/x11.cc
  tests/CMakeLists.txt
  tests/events.cc
  tests/mock/display-mock.cc
  tests/mock/display-mock.hh
  tests/mock/mock.cc
  tests/mock/mock.hh
  tests/mock/x11-mock.hh
  tests/test-x11-struts.cc
Labels: sources, tests, display: x11, build system

Fix build and includes after moving sources (#2119)
  .git-blame-ignore-revs
Labels: none

NetBSD: Fix meminfo.
  src/bsdcommon.cc
  src/bsdcommon.h
  src/netbsd.cc
Labels: sources

bsdcommon: Fix typo.
  src/bsdcommon.cc
Labels: sources

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - doc/*
          - doc/**/*
          - data/conky*.conf

extras:
  - changed-files:
      - any-glob-to-any-file:
          - extras/*
          - extras/**/*

sources:
  - changed-files:
      - any-glob-to-any-file:
          - src/*
          - src/**/*

tests:
  - changed-files:
      - any-glob-to-any-file:
          - tests/**/*
          - tests/*

web:
  - changed-files:
      - any-glob-to-any-file:
          - web/*
          - web/**/*

appimage:
  - changed-files:
      - any-glob-to-any-file:
          - appimage/*
          - appimage/**/*

3rdparty:
  - changed-files:
      - any-glob-to-any-file:
          - 3rdparty/*
          - 3rdparty/**/*

gh-actions:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/*
          - .github/workflows/**/*
          - .github/labeler.yml
          - .github/pull_request_template.md

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - web/package-lock.json
          - cmake/ConkyPlatformChecks.cmake

audio:
  - changed-files:
      - any-glob-to-any-file:
          - src/audacious.cc
          - src/audacious.h
          - src/cmus.cc
          - src/cmus.h
          - src/libmpdclient.cc
          - src/libmpdclient.h
          - src/mpd.cc
          - src/mpd.h
          - src/moc.cc
          - src/moc.h
          - src/mixer.cc
          - src/mixer.h
          - src/xmms2.cc
          - src/xmms2.h
          - src/pulseaudio.cc
          - src/pulseaudio.h

power:
  - changed-files:
      - any-glob-to-any-file:
          - src/apcupsd.cc
          - src/apcupsd.h
          - src/bsdapm.cc
          - src/bsdapm.h
          - src/smapi.cc
          - src/smapi.h

'display: console':
  - changed-files:
      - any-glob-to-any-file:
          - src/display-console.cc
          - src/display-console.hh
'display: file':
  - changed-files:
      - any-glob-to-any-file:
          - src/display-file.cc
          - src/display-file.hh
'display: http':
  - changed-files:
      - any-glob-to-any-file:
          - src/display-http.cc
          - src/display-http.hh
'display: ncurses':
  - changed-files:
      - any-glob-to-any-file:
          - src/nc.cc
          - src/nc.h
          - src/display-ncurses.cc
          - src/display-ncurses.hh
'display: wayland':
  - changed-files:
      - any-glob-to-any-file:
          - src/wl.cc
          - src/wl.h
          - src/wlr-layer-shell-unstable-v1.xml
          - src/display-wayland.cc
          - src/display-wayland.hh
'display: x11':
  - changed-files:
      - any-glob-to-any-file:
          - src/x11-color.cc
          - src/x11-color.h
          - src/x11.cc
          - src/x11.h
          - src/display-x11.cc
          - src/display-x11.hh

'build system':
  - changed-files:
      - any-glob-to-any-file:
          - '**/CMakeLists.txt'
          - '*.cmake'

cairo:
  - changed-files:
      - any-glob-to-any-file:
          - 'lua/*cairo*'

'disk io':
  - changed-files:
      - any-glob-to-any-file:
          - src/diskio.cc
          - src/diskio.h

cpu:
  - changed-files:
      - any-glob-to-any-file:
          - src/cpu.cc
          - src/cpu.h
          - src/proc.cc
          - src/proc.h
          - src/top.cc
          - src/top.h

lua:
  - changed-files:
      - any-glob-to-any-file:
          - lua/*
          - lua/**/*
          - src/llua.cc
          - src/llua.h
          - src/luamm.cc
          - src/luamm.h
          - src/lua-config.cc
          - src/lua-config.hh

macos:
  - changed-files:
      - any-glob-to-any-file:
          - src/darwin_sip.h
          - src/darwin.h
          - src/darwin.mm

'mouse events':
  - changed-files:
      - any-glob-to-any-file:
          - src/scroll.cc
          - src/scroll.h
          - src/mouse-events.cc
          - src/mouse-events.h

networking:
  - changed-files:
      - any-glob-to-any-file:
          - src/net_stat.cc
          - src/net_stat.h
          - src/tcp-portmon.cc
          - src/tcp-portmon.h
          - src/read_tcpip.cc
          - src/read_tcpip.h

nvidia:
  - changed-files:
      - any-glob-to-any-file:
          - src/nvidia.cc
          - src/nvidia.h

rendering:
  - changed-files:
      - any-glob-to-any-file:
          - src/text_object.cc
          - src/text_object.h
          - src/specials.cc
          - src/specials.h

text:
  - changed-files:
      - any-glob-to-any-file:
          - src/text_object.cc
          - src/text_object.h
          - src/template.cc
          - src/template.h
          - src/tailhead.cc
          - src/tailhead.h
          - src/specials.cc
          - src/specials.h
