Repository brndnmtthws/conky, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, extras, sources, tests, web, appimage, 3rdparty, gh-actions, dependencies, audio, power, display: console, display: file, display: http, display: ncurses, display: wayland, display: x11, build system, cairo, disk io, cpu, lua, macos, mouse events, networking, nvidia, rendering, text

Revert `common.cc`.
  src/common.cc
Labels: sources

Remove -lX11 patch
  cmake/ConkyPlatformChecks.cmake
Labels: dependencies

Doc: Implement feedback from #1501 for tables
  doc/lua.yaml
Labels: documentation

lua-imlib2: fix memory leak
  lua/libcairo_imlib2_helper.h
Labels: cairo, lua

lua-text: Another shot at fixing workflows
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/codeql.yml
  .github/workflows/publish-appimage.yml
Labels: gh-actions

cmake: try and use find_package for freetype
  cmake/ConkyPlatformChecks.cmake
Labels: dependencies

lua-imlib2: fix memory leak
  lua/libcairo_imlib2_helper.h
Labels: cairo, lua

Revert wordexp code and use previous code for OpenBSD only
  src/common.cc
  src/common.h
Labels: sources

Fix OpenBSD build (#2080)
  3rdparty/Vc/Vc/scalar/math.h
  cmake/Conky.cmake
  cmake/ConkyBuildOptions.cmake
  cmake/ConkyPlatformChecks.cmake
  cmake/config.h.in
  src/CMakeLists.txt
  src/bsdapm.cc
  src/common.cc
  src/common.h
  src/core.cc
  src/fs.cc
  src/main.cc
  src/mixer.cc
  src/openbsd.cc
  src/openbsd.h
  tests/test-common.cc
Labels: sources, tests, 3rdparty, dependencies, audio, power, build system

Fix NetBSD build.
  cmake/Conky.cmake
  cmake/ConkyPlatformChecks.cmake
  src/common.cc
  src/conky.cc
  src/entropy.cc
  src/fs.cc
  src/main.cc
  src/netbsd.cc
  src/netbsd.h
Labels: sources, dependencies

NetBSD: cmake: Refactor `-lintl` and `-lossaudio`.
  cmake/ConkyPlatformChecks.cmake
Labels: dependencies

NetBSD: cmake: Rework `ncurses`.
  cmake/ConkyPlatformChecks.cmake
Labels: dependencies

Haiku: Remove `wordexp.h`.
  src/common.cc
Labels: sources

NetBSD: cmake: `ncurses` -> `curses`
  cmake/ConkyPlatformChecks.cmake
Labels: dependencies

Fix NetBSD build (#2089)
  cmake/Conky.cmake
  cmake/ConkyPlatformChecks.cmake
  src/common.cc
  src/conky.cc
  src/entropy.cc
  src/fs.cc
  src/main.cc
  src/netbsd.cc
  src/netbsd.h
Labels: sources, dependencies

Haiku: Remove `HAIKU_HOME_DIR`.
  src/haiku.h
Labels: sources

Remove macOS-12 build (deprecated)
  .github/workflows/build-and-test-macos.yaml
Labels: gh-actions

Remove macOS-12 build (deprecated)
  .github/workflows/build-and-test-macos.yaml
Labels: gh-actions

OpenBSD: Fix CPU Usage.
  src/openbsd.cc
Labels: sources

OpenBSD: Fix CPU Usage.
  src/openbsd.cc
Labels: sources

OpenBSD: Fill missing fields in `get_top_info()`.
  src/openbsd.cc
Labels: sources

OpenBSD: Fill missing fields in `get_top_info()`.
  src/openbsd.cc
Labels: sources

Implement `-U` for Haiku. (#2079)
  doc/man.md.j2
  src/common.cc
  src/conky.cc
  src/haiku.cc
  src/haiku.h
  src/main.cc
Labels: documentation, sources

Bump minor version
  cmake/Conky.cmake
Labels: none

Bump minor version
  cmake/Conky.cmake
Labels: none

Allow to override build date with SOURCE_DATE_EPOCH
  doc/render.py
Labels: documentation

Allow custom man build date via SOURCE_DATE_EPOCH (#2096)
  doc/render.py
Labels: documentation

linux: Fix possible long overflow
  src/linux.cc
Labels: sources

linux: Support power_now in sysfs for get_battery_power_draw()
  src/linux.cc
Labels: sources

linux: Fix possible long overflow
  src/linux.cc
Labels: sources

linux: Support power_now in sysfs for get_battery_power_draw()
  src/linux.cc
Labels: sources

NetBSD: Fix CPU Usage.
  src/CMakeLists.txt
  src/bsdcommon.cc
  src/bsdcommon.h
  src/main.cc
  src/netbsd.cc
  src/netbsd.h
Labels: sources, build system

NetBSD: Implement `update_total_processes()`.
  src/bsdcommon.cc
  src/bsdcommon.h
  src/netbsd.cc
Labels: sources

NetBSD: Implement `update_running_processes()`.
  src/bsdcommon.cc
  src/bsdcommon.h
  src/netbsd.cc
Labels: sources

NetBSD: Implement `get_top_info()`.
  src/bsdcommon.cc
  src/bsdcommon.h
  src/netbsd.cc
Labels: sources

NetBSD: Cleanup.
  src/bsdcommon.cc
  src/netbsd.cc
Labels: sources

NetBSD: Remove second `total_cpu_time` calculation.
  src/bsdcommon.cc
Labels: sources

NetBSD: Remove second `total_cpu_time` calculation.
  src/bsdcommon.cc
Labels: sources

NetBSD: Implement `update_running_processes()`.
  src/bsdcommon.cc
  src/bsdcommon.h
  src/netbsd.cc
Labels: sources

NetBSD: Cleanup.
  src/bsdcommon.cc
  src/netbsd.cc
Labels: sources

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - doc/*
          - doc/**/*
          - data/conky*.conf

extras:
  - changed-files:
      - any-glob-to-any-file:
          - extras/*
          - extras/**/*

sources:
  - changed-files:
      - any-glob-to-any-file:
          - src/*
          - src/**/*

tests:
  - changed-files:
      - any-glob-to-any-file:
          - tests/**/*
          - tests/*

web:
  - changed-files:
      - any-glob-to-any-file:
          - web/*
          - web/**/*

appimage:
  - changed-files:
      - any-glob-to-any-file:
          - appimage/*
          - appimage/**/*

3rdparty:
  - changed-files:
      - any-glob-to-any-file:
          - 3rdparty/*
          - 3rdparty/**/*

gh-actions:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/*
          - .github/workflows/**/*
          - .github/labeler.yml
          - .github/pull_request_template.md

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - web/package-lock.json
          - cmake/ConkyPlatformChecks.cmake

audio:
  - changed-files:
      - any-glob-to-any-file:
          - src/audacious.cc
          - src/audacious.h
          - src/cmus.cc
          - src/cmus.h
          - src/libmpdclient.cc
          - src/libmpdclient.h
          - src/mpd.cc
          - src/mpd.h
          - src/moc.cc
          - src/moc.h
          - src/mixer.cc
          - src/mixer.h
          - src/xmms2.cc
          - src/xmms2.h
          - src/pulseaudio.cc
          - src/pulseaudio.h

power:
  - changed-files:
      - any-glob-to-any-file:
          - src/apcupsd.cc
          - src/apcupsd.h
          - src/bsdapm.cc
          - src/bsdapm.h
          - src/smapi.cc
          - src/smapi.h

'display: console':
  - changed-files:
      - any-glob-to-any-file:
          - src/display-console.cc
          - src/display-console.hh
'display: file':
  - changed-files:
      - any-glob-to-any-file:
          - src/display-file.cc
          - src/display-file.hh
'display: http':
  - changed-files:
      - any-glob-to-any-file:
          - src/display-http.cc
          - src/display-http.hh
'display: ncurses':
  - changed-files:
      - any-glob-to-any-file:
          - src/nc.cc
          - src/nc.h
          - src/display-ncurses.cc
          - src/display-ncurses.hh
'display: wayland':
  - changed-files:
      - any-glob-to-any-file:
          - src/wl.cc
          - src/wl.h
          - src/wlr-layer-shell-unstable-v1.xml
          - src/display-wayland.cc
          - src/display-wayland.hh
'display: x11':
  - changed-files:
      - any-glob-to-any-file:
          - src/x11-color.cc
          - src/x11-color.h
          - src/x11.cc
          - src/x11.h
          - src/display-x11.cc
          - src/display-x11.hh

'build system':
  - changed-files:
      - any-glob-to-any-file:
          - '**/CMakeLists.txt'
          - '*.cmake'

cairo:
  - changed-files:
      - any-glob-to-any-file:
          - 'lua/*cairo*'

'disk io':
  - changed-files:
      - any-glob-to-any-file:
          - src/diskio.cc
          - src/diskio.h

cpu:
  - changed-files:
      - any-glob-to-any-file:
          - src/cpu.cc
          - src/cpu.h
          - src/proc.cc
          - src/proc.h
          - src/top.cc
          - src/top.h

lua:
  - changed-files:
      - any-glob-to-any-file:
          - lua/*
          - lua/**/*
          - src/llua.cc
          - src/llua.h
          - src/luamm.cc
          - src/luamm.h
          - src/lua-config.cc
          - src/lua-config.hh

macos:
  - changed-files:
      - any-glob-to-any-file:
          - src/darwin_sip.h
          - src/darwin.h
          - src/darwin.mm

'mouse events':
  - changed-files:
      - any-glob-to-any-file:
          - src/scroll.cc
          - src/scroll.h
          - src/mouse-events.cc
          - src/mouse-events.h

networking:
  - changed-files:
      - any-glob-to-any-file:
          - src/net_stat.cc
          - src/net_stat.h
          - src/tcp-portmon.cc
          - src/tcp-portmon.h
          - src/read_tcpip.cc
          - src/read_tcpip.h

nvidia:
  - changed-files:
      - any-glob-to-any-file:
          - src/nvidia.cc
          - src/nvidia.h

rendering:
  - changed-files:
      - any-glob-to-any-file:
          - src/text_object.cc
          - src/text_object.h
          - src/specials.cc
          - src/specials.h

text:
  - changed-files:
      - any-glob-to-any-file:
          - src/text_object.cc
          - src/text_object.h
          - src/template.cc
          - src/template.h
          - src/tailhead.cc
          - src/tailhead.h
          - src/specials.cc
          - src/specials.h
