Repository brndnmtthws/conky, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, extras, sources, tests, web, appimage, 3rdparty, gh-actions, dependencies

Close distance to dev/better-event-passing
  src/display-x11.cc
  src/x11.cc
  src/x11.h
Labels: sources

Replace EV_HANDLER macro with templates
  src/display-x11.cc
Labels: sources

Add missing CONFIGURE hook call
  src/display-x11.cc
Labels: sources

Refactor x11 event handling (#1819)
  src/display-x11.cc
  src/x11.cc
  src/x11.h
Labels: sources

Refactor x11 event handling (#1819)
  src/display-x11.cc
Labels: sources

Add XInput event handling
  src/display-x11.cc
  src/mouse-events.cc
  src/mouse-events.h
  src/x11.cc
  src/x11.h
Labels: sources

Improve ergonomics of the pointer API
  src/display-x11.cc
  src/mouse-events.cc
  src/mouse-events.h
  src/x11.cc
Labels: sources

Simplify use of XInput related classes
  src/display-x11.cc
  src/mouse-events.cc
  src/mouse-events.h
  src/x11.cc
Labels: sources

Issue template: Link docs to obtain stack traces
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: none

Issue template: Link docs to obtain stack traces
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: none

Fix cursor_over_conky and override atoms
  src/display-x11.cc
  src/mouse-events.cc
  src/mouse-events.h
  src/x11.cc
  src/x11.h
Labels: sources

Fix valuator_info not being updated
  src/mouse-events.cc
Labels: sources

Fill cache at startup
  src/mouse-events.cc
  src/mouse-events.h
  src/x11.cc
Labels: sources

Fix crash when device disconnected
  src/display-x11.cc
  src/mouse-events.cc
  src/mouse-events.h
  src/x11.cc
Labels: sources

Cleanup
  src/display-x11.cc
  src/mouse-events.cc
  src/x11.cc
  src/x11.h
Labels: sources

Exclusive XInput event handling (#1821)
  src/display-x11.cc
  src/mouse-events.cc
  src/mouse-events.h
  src/x11.cc
  src/x11.h
Labels: sources

Bump version
  cmake/Conky.cmake
Labels: none

Separate feature/bug/deps release labels
  .github/release.yml
Labels: none

Bump version
  cmake/Conky.cmake
Labels: none

Fix release artifact path
  .github/workflows/publish-appimage.yml
Labels: gh-actions

Separate feature/bug/deps release labels
  .github/release.yml
Labels: none

Fix release artifact path
  .github/workflows/publish-appimage.yml
Labels: gh-actions

Rename release artifacts
  .github/workflows/publish-appimage.yml
Labels: gh-actions

Name not optional
  .github/workflows/publish-appimage.yml
Labels: gh-actions

Rename release artifacts
  .github/workflows/publish-appimage.yml
Labels: gh-actions

Name not optional
  .github/workflows/publish-appimage.yml
Labels: gh-actions

Create missing atom for query
  README.md
  src/conky.cc
  src/mouse-events.cc
  src/mouse-events.h
  src/x11.cc
Labels: sources

Create missing atom for query (#1834)
  README.md
  src/conky.cc
  src/mouse-events.cc
  src/mouse-events.h
  src/x11.cc
Labels: sources

Bump version
  cmake/Conky.cmake
Labels: none

Annoyingly, the artifacts go into a subdir
  .github/workflows/publish-appimage.yml
Labels: gh-actions

Bump version
  cmake/Conky.cmake
Labels: none

Annoyingly, the artifacts go into a subdir
  .github/workflows/publish-appimage.yml
Labels: gh-actions

Always run Nix & AppImage builds on PRs
  .github/workflows/nix.yaml
  .github/workflows/publish-appimage.yml
Labels: gh-actions

Always run Nix & AppImage builds on PRs
  .github/workflows/nix.yaml
  .github/workflows/publish-appimage.yml
Labels: gh-actions

Disable mouse tracking if BUILD_MOUSE_EVENTS=off
  3rdparty/toluapp/.gitignore
  src/colours.h
  src/x11.cc
Labels: sources, 3rdparty

Fix tests
  src/colours.cc
Labels: sources

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - doc/*
          - doc/**/*

extras:
  - changed-files:
      - any-glob-to-any-file:
          - extras/*
          - extras/**/*

sources:
  - changed-files:
      - any-glob-to-any-file:
          - src/*
          - src/**/*

tests:
  - changed-files:
      - any-glob-to-any-file:
          - tests/**/*
          - tests/*

web:
  - changed-files:
      - any-glob-to-any-file:
          - web/*
          - web/**/*

appimage:
  - changed-files:
      - any-glob-to-any-file:
          - appimage/*
          - appimage/**/*

3rdparty:
  - changed-files:
      - any-glob-to-any-file:
          - 3rdparty/*
          - 3rdparty/**/*

gh-actions:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/*
          - .github/workflows/**/*

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - web/package-lock.json
          - cmake/ConkyPlatformChecks.cmake
