Repository brndnmtthws/conky, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, extras, sources, tests, web, appimage, 3rdparty, gh-actions

.github/labeler.yml:

documentation:
  - doc/*
  - doc/**/*

extras:
  - extras/*
  - extras/**/*

sources:
  - src/*
  - src/**/*

tests:
  - tests/**/*
  - tests/*

web:
  - web/*
  - web/**/*

appimage:
  - appimage/*
  - appimage/**/*

3rdparty:
  - 3rdparty/*
  - 3rdparty/**/*

gh-actions:
  - .github/workflows/*
  - .github/workflows/**/*

Fix man page formatting.
  doc/CMakeLists.txt
  doc/README.md
  doc/man.md.j2
Labels: documentation

Fix man page formatting.
  doc/CMakeLists.txt
  doc/README.md
  doc/man.md.j2
Labels: documentation

More doc fixes.
  doc/README.md
  doc/variables.yaml
Labels: documentation

Drop unimplemented weather code.
  cmake/ConkyBuildOptions.cmake
  cmake/ConkyPlatformChecks.cmake
  cmake/config.h.in
  doc/variables.yaml
  src/CMakeLists.txt
  src/conky.cc
  src/core.cc
  src/main.cc
  src/weather.cc
  src/weather.h
Labels: documentation, sources

Fix table formatting.
  doc/variables.yaml
Labels: documentation

Need to enable curl for RSS.
  cmake/ConkyBuildOptions.cmake
  src/ccurl_thread.cc
Labels: sources
