Repository brndnmtthws/conky, pull requests merged in 2022-10, with the labels that each got.

#1228 Add fuzzy search to web docs.
  web/components/Docs.tsx
  web/components/Header.tsx
  web/components/Layout.tsx
  web/components/Search.tsx
  web/package.json
  web/pages/config_settings.tsx
  web/pages/documents/[slug].tsx
  web/pages/index.tsx
  web/pages/lua.tsx
  web/pages/variables.tsx
  web/utils/doc-utils.ts
  web/utils/search.ts
  web/yarn.lock
Labels: web

#1229 Add search keyboard shortcut.
  web/components/Header.tsx
  web/components/Search.tsx
Labels: web

#1230 Keyboard shortcuts
  web/components/Search.tsx
  web/pages/_document.tsx
Labels: web

#1231 Improve search index, index page, add wiki link.
  web/components/Search.tsx
  web/pages/index.tsx
  web/utils/search.ts
Labels: web

#1232 Adjust layout for docs.
  web/components/Docs.tsx
Labels: web

#1237 Adjust colors/format for web docs.
  web/components/Docs.tsx
  web/components/Header.tsx
  web/components/LineChart.tsx
Labels: web

#1239 Add 404 page, fix fonts.
  web/components/Doggy.tsx
  web/package-lock.json
  web/package.json
  web/pages/404.tsx
  web/pages/_app.tsx
  web/utils/tailwind-preset.js
Labels: web

#1242 fix bug when conky displays zero values after time
  src/linux.cc
Labels: sources

#1157 Fix diskio graph scale being 3 orders of magnitude too small
  src/diskio.cc
Labels: sources

#1252 Implement get_battery_power_draw() for FreeBSD.
  src/freebsd.cc
Labels: sources

#1169 Detect that nvidia display exists in each refresh
  src/nvidia.cc
Labels: sources

#1255 Add man page to releases.
  .github/workflows/publish-appimage.yml
  appimage/build.sh
Labels: appimage, gh-actions

#1256 Separate docs & extras (syntax files) build.
  CMakeLists.txt
  cmake/ConkyBuildOptions.cmake
  cmake/ConkyPlatformChecks.cmake
  extras/CMakeLists.txt
Labels: extras

#1263 Fix create/destroy/set/get Lua Rsvg functions.
  doc/lua.yaml
  lua/librsvg-helper.h
  lua/rsvg.pkg
Labels: documentation
