Repository brndnmtthws/conky, pull requests merged in 2022-12, with the labels that each got.

#1315 Add an option to disable storing graph data explicitly
  doc/config_settings.yaml
  src/specials.cc
Labels: documentation, sources

#1324 Fix warning caused by nonsense `break` condition
  src/linux.cc
Labels: sources

#1325 Bump web deps.
  web/package-lock.json
  web/package.json
Labels: web

#1294 Change assert in set_font to check w/ debug.
  src/display-x11.cc
Labels: sources

#1334 Fix some include ordering/build stuff.
  src/gui.cc
  src/gui.h
Labels: sources

#1333 Bump web deps.
  web/package-lock.json
  web/package.json
Labels: web

#1335 Build fixes for wayland stuff.
  Dockerfile
  appimage/build.sh
  cmake/ConkyPlatformChecks.cmake
  cmake/FindWayland.cmake
  src/CMakeLists.txt
Labels: sources, appimage

#1337 Add missing unistd include.
  src/display-wayland.cc
Labels: bug, sources

#1342 Fix this install command fail.
  appimage/build.sh
Labels: appimage

#1346 Use the cmake commands here instead.
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/build-and-test-macos.yaml
  Dockerfile
  appimage/build.sh
Labels: appimage, gh-actions

#1349 Unbreak Wayland build on BSDs
  cmake/ConkyPlatformChecks.cmake
Labels: bug
