Repository brndnmtthws/conky, pull requests merged in 2023-02, with the labels that each got.

#1401 Fix a couple security nits from codeql
  src/diskio.cc
  src/imlib2.cc
  src/mail.cc
Labels: sources

#1402 Add an above-all overlay mode for `own_window_type`, `utility`
  .github/workflows/build-and-test-macos.yaml
  cmake/ConkyBuildOptions.cmake
  cmake/ConkyPlatformChecks.cmake
  cmake/FindXinerama.cmake
  cmake/config.h.in
  doc/config_settings.yaml
  flake.nix
  src/CMakeLists.txt
  src/gui.cc
  src/x11.cc
  src/x11.h
Labels: documentation, sources, gh-actions

#1407 Enable GCC 12 in actions, fix warning.
  .github/workflows/build-and-test-linux.yaml
  src/scroll.cc
Labels: sources, gh-actions

#1408 Unbreak Xinerama config loading.
  src/setting.cc
Labels: sources

#1418 use new Colour type for specials and gradients
  src/colours.cc
  src/colours.h
  src/conky.cc
  src/gradient.cc
  src/gradient.h
  src/specials.cc
  src/specials.h
  tests/test-gradient.cc
Labels: sources, tests

#1421 Premultiply background colors for X11
  src/colours.h
  src/display-x11.cc
  src/gui.cc
  src/gui.h
  src/x11.cc
  src/x11.h
Labels: sources

#1422 Build fixes for strict checks.
  src/linux.cc
  src/users.cc
Labels: sources

#1427 Fix these colour tests, refactor gcov script.
  tests/llvm-gcov.sh
  tests/test-colours.cc
Labels: tests

#1429 Update/fix some web stuff.
  .github/workflows/web.yml
  .prettierrc.cjs
  CONTRIBUTING.md
  lefthook.yml
  web/.eslintrc.json
  web/.gitignore
  web/components/CustomLink.tsx
  web/components/Docs.tsx
  web/components/Header.tsx
  web/components/Layout.tsx
  web/components/LineChart.tsx
  web/components/Search.tsx
  web/components/ThemeSwitcher.tsx
  web/package-lock.json
  web/package.json
  web/pages/documents/[slug].tsx
  web/pages/index.tsx
  web/postcss.config.js
  web/tsconfig.json
Labels: web, gh-actions

#1430 Improve the web tests
  .github/workflows/web.yml
  web/components/Docs.tsx
  web/components/Header.tsx
  web/cypress.config.js
  web/cypress/.eslintrc.json
  web/cypress/e2e/basic.cy.js
  web/package-lock.json
  web/package.json
  web/pages/config_settings.tsx
  web/pages/lua.tsx
  web/pages/variables.tsx
Labels: web, gh-actions
