Repository brndnmtthws/conky, pull requests merged in 2023-03, with the labels that each got.

#1440 Don't prefix mouse hook with conky_ twice.
  src/llua.cc
Labels: sources

#1441 Fix lefthook config.
  doc/config_settings.yaml
  lefthook.yml
Labels: documentation

#1448 chore: Only run codeql on schedule
  .github/workflows/codeql.yml
Labels: bug, gh-actions

#1447 Fix and test graph parsing
  src/common.cc
  src/core.cc
  src/diskio.cc
  src/exec.cc
  src/net_stat.cc
  src/nvidia.cc
  src/specials.cc
  src/specials.h
  tests/CMakeLists.txt
  tests/test-graph.cc
Labels: sources, tests

#1470 gradients: fix saturation/luma calculations for 32-bit systems
  src/gradient.cc
Labels: sources

#1475 feat: Move docs to website, rearrange bits
  CMakeLists.txt
  LICENSE
  LICENSE.md
  README.docker
  README.md
  TODO.md
  data/CMakeLists.txt
  data/conky.desktop
  data/logo/conky-logomark-violet.png
  data/logo/conky-logomark-violet.svg
  data/logo/conky-logotype-horizontal-violet.png
  data/logo/conky-logotype-horizontal-violet.svg
  data/logo/conky-logotype-vertical-violet.png
  data/logo/conky-logotype-vertical-violet.svg
  web/documents/about.mdx
  web/documents/compiling.mdx
  web/documents/contributing.mdx
  web/documents/docker.mdx
  web/documents/syntax-highlighting.mdx
  web/package-lock.json
  web/package.json
  web/pages/_document.tsx
  web/pages/documents/[slug].tsx
  web/utils/mdx-utils.ts
Labels: web

#1480 colours: parse 3-digit colour specifications again
  src/colours.cc
  tests/test-colours.cc
Labels: bug, sources, tests

#1481 display-output: allow no outputs
  src/display-output.cc
Labels: bug, sources

#1482 ncurses color fixes
  src/core.cc
  src/display-ncurses.cc
  src/specials.cc
Labels: bug, sources

#1483 Fix memory leaks in X11 display backend
  cmake/ConkyPlatformChecks.cmake
  src/display-x11.cc
Labels: sources
