Repository brndnmtthws/conky, pull requests merged in 2023-01, with the labels that each got.

#955 Added mouse events to conky
  .gitignore
  cmake/ConkyBuildOptions.cmake
  cmake/config.h.in
  doc/config_settings.yaml
  src/CMakeLists.txt
  src/display-x11.cc
  src/llua.cc
  src/llua.h
  src/main.cc
  src/mouse-events.cc
  src/mouse-events.h
  src/x11.cc
Labels: enhancement, documentation, sources

#1361 Fix colors when Wayland and X11 backends coexist
  src/colours.cc
  src/display-wayland.cc
Labels: bug, sources

#1363 Follow up to #1361
  src/colours.cc
Labels: sources
