Repository brndnmtthws/conky, pull requests merged in 2024-12, with the labels that each got.

#2099 Add support for power_now
  src/linux.cc
Labels: sources

#2103 Fix out_to_wayland giving nothing
  src/display-console.cc
  src/display-file.cc
  src/display-http.cc
  src/display-ncurses.cc
  src/display-output.cc
  src/display-output.hh
  src/display-wayland.cc
  src/display-x11.cc
Labels: bug, sources, display: x11, display: wayland, display: ncurses, display: file, display: http, display: console

#2104 Revert "Use private mapping from provided shm_pool buffer"
  src/display-wayland.cc
Labels: bug, sources, display: wayland

#2105 Fix non-text content using `own_window_argb_value`
  src/display-wayland.cc
Labels: bug, display: wayland, text

#2110 Simplify adding new wayland protocols
  src/CMakeLists.txt
  src/wl_protocols/wlr-layer-shell-unstable-v1.xml
Labels: sources, build system

#1937 Move color parse error message out of hex parser
  src/colours.cc
  tests/test-common.cc
Labels: sources, tests

#2113 Add blame ignore file
  .git-blame-ignore-revs
  extras/git_ranked.py
Labels: extras

#2114 Update Catch2 from 2.13.9 to 3.7.1
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/build-and-test-macos.yaml
  cmake/Catch.cmake
  cmake/CatchAddTests.cmake
  cmake/CodeCoverage.cmake
  tests/CMakeLists.txt
  tests/catch2/catch.hpp
  tests/catch2/catch_amalgamated.cpp
  tests/catch2/catch_amalgamated.hpp
  tests/test-common.cc
  tests/test-diskio.cc
Labels: tests, gh-actions, build system

#2118 Implement `-U` for NetBSD.
  doc/man.md.j2
  src/bsdcommon.cc
  src/bsdcommon.h
  src/conky.cc
  src/main.cc
  src/netbsd.cc
  src/netbsd.h
Labels: documentation, sources
