Repository brndnmtthws/conky, pull requests merged in 2024-11, with the labels that each got.

#2077 Implement `-U` for FreeBSD.
  doc/man.md.j2
  src/conky.cc
  src/freebsd.cc
  src/freebsd.h
  src/main.cc
Labels: documentation, sources

#2083 lua-imlib2: fix memory leak
  lua/libcairo_imlib2_helper.h
Labels: bug, lua, cairo

#2080 Fix OpenBSD build
  3rdparty/Vc/Vc/scalar/math.h
  cmake/Conky.cmake
  cmake/ConkyBuildOptions.cmake
  cmake/ConkyPlatformChecks.cmake
  cmake/config.h.in
  src/CMakeLists.txt
  src/bsdapm.cc
  src/common.cc
  src/common.h
  src/core.cc
  src/fs.cc
  src/main.cc
  src/mixer.cc
  src/openbsd.cc
  src/openbsd.h
  tests/test-common.cc
Labels: bug, sources, tests, 3rdparty, dependencies, build system, audio, power, os: openbsd

#2089 Fix NetBSD build
  cmake/Conky.cmake
  cmake/ConkyPlatformChecks.cmake
  src/common.cc
  src/conky.cc
  src/entropy.cc
  src/fs.cc
  src/main.cc
  src/netbsd.cc
  src/netbsd.h
Labels: sources, dependencies

#2091 Remove macOS-12 build (deprecated)
  .github/workflows/build-and-test-macos.yaml
Labels: gh-actions

#2092 OpenBSD: Fix CPU Usage.
  src/openbsd.cc
Labels: bug, sources

#2093 OpenBSD: Fill missing fields in `get_top_info()`.
  src/openbsd.cc
Labels: sources, feature

#2079 Implement `-U` for Haiku.
  doc/man.md.j2
  src/common.cc
  src/conky.cc
  src/haiku.cc
  src/haiku.h
  src/main.cc
Labels: documentation, sources, feature

#2096 Allow to override build date with SOURCE_DATE_EPOCH
  doc/render.py
Labels: documentation, build system, feature
