Repository brndnmtthws/conky, pull requests merged in 2024-03, with the labels that each got.

#1768 Define text_object.data.l as "long long"
  src/text_object.h
Labels: sources

#1770 Bump web deps, fix lint
  web/package-lock.json
  web/package.json
  web/pages/documents/[slug].tsx
Labels: web

#1780 Use --force with brew install, block upgrades
  .github/workflows/build-and-test-macos.yaml
Labels: gh-actions

#1779 Fix regression in lua_load path handling
  src/llua.cc
Labels: bug, sources

#1783 Tidy up docs
  doc/config_settings.yaml
  doc/lua.yaml
  doc/variables.yaml
Labels: documentation

#1788 Increase max length of ACPI temp (fixes #977)
  src/linux.cc
Labels: sources
