Repository brndnmtthws/conky, pull requests merged in 2024-07, with the labels that each got.

#1980 Fix minimum_height not scaled with dpi_scale like minimum_width
  src/conky.cc
Labels: sources

#1981 Drop macos 11 build
  .github/workflows/build-and-test-macos.yaml
Labels: gh-actions

#1987 Fix invalid uniform vector init function in geometry
  src/geometry.h
Labels: bug, sources

#1996 Fix for GCC 15 two-phase lookup
  src/geometry.h
Labels: sources

#1993 Fixed graph parsing error
  src/specials.cc
Labels: bug, sources, rendering, text

#2002 Fixed Down and Up Speed graph scaling
  src/specials.cc
Labels: bug, sources, rendering, text

#2003 Implemented path resolution
  src/common.cc
  src/common.h
Labels: sources, feature

#2000 Implemented graph value clamping
  doc/variables.yaml
  src/conky.cc
  src/specials.cc
  src/specials.h
Labels: documentation, sources, feature, rendering, text
