Repository brndnmtthws/conky, pull requests merged in 2024-05, with the labels that each got.

#1878 Update DPI when changed in resource manager
  src/display-x11.cc
  src/gui.cc
  src/gui.h
  src/x11.cc
  src/x11.h
Labels: bug, sources, display: x11, feature, rendering

#1883 CLI: -V now displays a short version string
  src/conky.cc
  src/main.cc
Labels: sources, feature

#1884 Make version string semver compliant, add git sha
  cmake/Conky.cmake
Labels: feature

#1882 Use `MODULE` library type for Lua libs
  lua/CMakeLists.txt
Labels: bug, build system, lua

#1885 Fix AppImage version naming
  .github/workflows/publish-appimage.yml
Labels: bug, gh-actions

#1889 shared_ptr::unique() deprecated, use use_count()
  src/update-cb.cc
Labels: sources

#1891 Docker: improve tagging, distinguish `main` and `latest`
  .github/workflows/docker.yaml
Labels: gh-actions, feature

#1893 Fix this env var handling (derp)
  .github/workflows/docker.yaml
Labels: gh-actions

#1894 Try to fix this quote handling again
  .github/workflows/docker.yaml
Labels: gh-actions

#1895 Move docker build to separate script for less jank
  .github/scripts/docker-build.bash
  .github/workflows/docker.yaml
Labels: gh-actions

#1900 Fix alignment documentation & enable HTML in docs
  doc/CMakeLists.txt
  doc/config_settings.yaml
  web/package-lock.json
  web/package.json
  web/utils/doc-utils.ts
  web/utils/mdx-utils.ts
Labels: documentation, web, dependencies, build system

#1903 Refactor the CMake 3rdparty/Vc-related bits
  3rdparty/CMakeLists.txt
  3rdparty/Vc/CMakeLists.txt
  3rdparty/Vc/cmake/VcMacros.cmake
  CMakeLists.txt
Labels: 3rdparty, build system

#1909 Disable Vc_ENABLE_INSTALL by default
  3rdparty/Vc/CMakeLists.txt
Labels: bug, 3rdparty, build system, packaging

#1910 Remove _member_access from geometry
  cmake/ConkyBuildOptions.cmake
  src/conky.cc
  src/display-wayland.cc
  src/display-x11.cc
  src/geometry.h
  src/gui.cc
  src/gui.h
  src/llua.cc
  src/mouse-events.cc
  src/template.cc
  src/x11.cc
Labels: bug, sources, display: x11, display: wayland, lua, mouse events, text

#1918 Fix build with specific option combination.
  src/llua.h
  src/x11-settings.cc
  src/x11.cc
Labels: sources, display: x11, lua

#1920 Disable Xinput by default
  cmake/ConkyBuildOptions.cmake
  src/display-x11.cc
Labels: bug, sources, display: x11

#1927 Fix build with specific option combination.
  src/x11-settings.cc
  src/x11.cc
Labels: sources, display: x11

#1926 Remove dpi scaling of minimum_width & maximum_width
  src/conky.cc
  src/display-wayland.cc
  src/display-x11.cc
Labels: bug, sources, display: x11, display: wayland

#1934 Don't include the -pre in install dir path.
  CMakeLists.txt
  cmake/Conky.cmake
Labels: build system, feature

#1936 Make dpi_scale match original behavior
  src/display-output.hh
Labels: sources

#1941 Don't test colour names without map
  tests/test-colours.cc
Labels: tests

#1945 Docker: don't login without creds
  .github/scripts/docker-build.bash
  .github/workflows/docker.yaml
Labels: gh-actions
