Repository brndnmtthws/conky, pull requests merged in 2024-06, with the labels that each got.

#1950 Replace strncat with strcat
  src/scroll.cc
Labels: sources, mouse events

#1952 Fix minimum height not being applied
  src/conky.cc
Labels: sources

#1949 Revert removal of dpi scaling
  src/conky.cc
  src/display-wayland.cc
  src/display-x11.cc
Labels: bug, sources, display: x11, display: wayland

#1958 Docker: only write to cache if creds available
  .github/scripts/docker-build.bash
  .github/workflows/docker.yaml
Labels: gh-actions

#1959 Docker cache extern pr
  .github/workflows/docker.yaml
Labels: gh-actions

#1957 Fix for the graph scale text colour changing depending on graph position
  src/conky.cc
Labels: sources

#1907 Add Ubuntu 24.04 to CI & release assets
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/publish-appimage.yml
  requirements-dev.txt
Labels: gh-actions, feature

#1968 Bump web deps
  web/package-lock.json
  web/package.json
Labels: web, dependencies

#1970 Apply `npm audit fix`.
  web/package-lock.json
  web/package.json
Labels: web, dependencies

#1972 Fix AC/battery detection logic on FreeBSD.
  src/freebsd.cc
Labels: sources

#1974 Bump web deps
  web/package-lock.json
  web/package.json
Labels: web, dependencies
