Repository brndnmtthws/conky, pull requests merged in 2024-09, with the labels that each got.

#2032 set display to null for race condition
  src/x11.cc
Labels: bug, sources, display: x11

#2038 audacious.cc: print_audacious_filename(): fix always empty $audacious_filename
  src/audacious.cc
Labels: bug, sources, audio

#2043 Fix tcp_ping for non-existent local network hosts
  src/read_tcpip.cc
Labels: bug, sources, networking
