Repository brndnmtthws/conky, pull requests merged in 2024-04, with the labels that each got.

#1798 Handle external PropertyNotify events
  src/display-x11.cc
Labels: sources

#1797 Skip propagation of non-input events
  src/display-x11.cc
  src/x11.cc
Labels: sources

#1801 Fix render order in draw_stuff
  src/conky.cc
Labels: sources

#1802 Fix event propagation on Openbox
  src/display-x11.cc
  src/x11.cc
  src/x11.h
Labels: sources

#1809 Tweak XSendEvent arguments
  src/x11.cc
Labels: sources

#1813 Fix missing y_abs argument copy
  src/mouse-events.h
Labels: sources

#1810 Bump web deps
  web/netlify.toml
  web/package-lock.json
  web/package.json
Labels: web, dependencies

#1815 Add modified date to web docs
  web/components/Footer.tsx
  web/global.d.ts
  web/next.config.mjs
  web/tsconfig.json
Labels: web

#1819 Refactor x11 event handling
  src/display-x11.cc
  src/x11.cc
  src/x11.h
Labels: sources

#1821 Exclusive XInput event handling
  src/display-x11.cc
  src/mouse-events.cc
  src/mouse-events.h
  src/x11.cc
  src/x11.h
Labels: sources

#1831 Rename release artifacts
  .github/workflows/publish-appimage.yml
Labels: gh-actions

#1834 Create missing atom for XIGetProperty request in fixed_valuator_relative
  README.md
  src/conky.cc
  src/mouse-events.cc
  src/mouse-events.h
  src/x11.cc
Labels: bug, sources, backend: x11, mouse events

#1839 Annoyingly, the artifacts go into a subdir
  .github/workflows/publish-appimage.yml
Labels: gh-actions

#1840 Always run Nix & AppImage builds on PRs
  .github/workflows/nix.yaml
  .github/workflows/publish-appimage.yml
Labels: gh-actions

#1842 Track more context labels
  .github/labeler.yml
Labels: documentation, gh-actions

#1843 Fix imlib_cache_size_setting::lua_setter
  src/conky-imlib2.cc
Labels: bug, sources

#1844 Separate cairo-xlib.h Lua bindings from cairo.h
  .github/workflows/build-and-test-linux.yaml
  .gitignore
  cmake/ConkyBuildOptions.cmake
  cmake/ConkyPlatformChecks.cmake
  lua/.gitignore
  lua/CMakeLists.txt
  lua/cairo.pkg
  lua/cairo_xlib.pkg
Labels: gh-actions, dependencies, build system, display: wayland, lua, cairo, feature

#1853 Fix web components and pages (UI)
  web/components/Docs.tsx
  web/components/Doggy.tsx
  web/components/Footer.tsx
  web/components/Header.tsx
  web/components/Layout.tsx
  web/components/Search.tsx
  web/pages/404.tsx
  web/pages/config_settings.tsx
  web/pages/documents/[slug].tsx
  web/pages/lua.tsx
  web/pages/variables.tsx
Labels: web

#1841 Cleanup build flags, global namespace and includes
  .gitignore
  3rdparty/toluapp/.gitignore
  cmake/ConkyBuildOptions.cmake
  data/conky-dfly-smp.conf
  data/conky.conf
  data/conky_no_x11.conf
  doc/config_settings.yaml
  src/CMakeLists.txt
  src/colours.cc
  src/colours.h
  src/conky-imlib2.cc
  src/conky-imlib2.h
  src/conky.cc
  src/conky.h
  src/core.cc
  src/display-console.cc
  src/display-file.cc
  src/display-http.cc
  src/display-http.hh
  src/display-ncurses.cc
  src/display-ncurses.hh
  src/display-output.cc
  src/display-output.hh
  src/display-wayland.cc
  src/display-wayland.hh
  src/display-x11.cc
  src/display-x11.hh
  src/gui.cc
  src/gui.h
  src/llua.cc
  src/llua.h
  src/mouse-events.cc
  src/mouse-events.h
  src/nvidia.cc
  src/nvidia.h
  src/scroll.cc
  src/specials.cc
  src/specials.h
  src/text_object.h
  src/wl.h
  src/x11-color.cc
  src/x11-color.h
  src/x11-settings.cc
  src/x11-settings.h
  src/x11.cc
  src/x11.h
Labels: enhancement, documentation, sources, 3rdparty, build system, display: x11, display: wayland, lua, feature, rendering, display: ncurses, display: file, display: http, display: console, mouse events, nvidia, text

#1848 Use perfect hash (gperf) for parsing color names
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/build-and-test-macos.yaml
  .github/workflows/codeql.yml
  .github/workflows/publish-appimage.yml
  .gitignore
  bin/format-colors.sh
  cmake/Conky.cmake
  data/color-names.yml
  doc/CMakeLists.txt
  flake.nix
  src/CMakeLists.txt
  src/colour-names-stub.cc
  src/colours.cc
  src/colours.h
  src/x11-color.cc
  src/x11-color.h
Labels: documentation, sources, gh-actions, build system, display: x11, feature

#1849 set_struts improvements
  src/display-x11.cc
  src/x11.cc
  src/x11.h
Labels: sources, display: x11

#1859 Explicitly note updated time is UTC
  web/components/Footer.tsx
Labels: web

#1864 Fix bad query_x11_windows early returns
  src/x11.cc
  src/x11.h
Labels: bug, sources, display: x11, mouse events

#1869 Simplify binary include handling (and fix build)
  src/CMakeLists.txt
Labels: sources, build system

#1870 Require gperf at build-time
  cmake/Conky.cmake
  src/CMakeLists.txt
  src/colour-names-stub.hh
Labels: sources, build system

#1874 Fix conky-cairo_imlib2_helper dependency conditions
  cmake/ConkyBuildOptions.cmake
  lua/CMakeLists.txt
Labels: build system, lua

#1876 Use private mapping from provided shm_pool buffer
  src/display-wayland.cc
Labels: sources, display: wayland

#1877 Remove dpi scaling of maximum width
  src/conky.cc
  src/conky.h
  src/display-output.hh
  src/display-wayland.cc
  src/display-wayland.hh
  src/display-x11.cc
  src/display-x11.hh
Labels: bug, sources, display: x11, display: wayland

#1875 Use _NET_VIRTUAL_ROOTS for querying virtual roots
  src/x11.cc
Labels: bug, sources, display: x11
