Repository brndnmtthws/conky, pull requests merged in 2024-02, with the labels that each got.

#1725 X11: Fix infinite loops caused by propagated Expose events
  src/display-x11.cc
Labels: sources

#1728 Fix update_interval handling from CLI args
  src/conky.cc
Labels: bug, sources

#1731 Remove build date and associated vars
  cmake/Conky.cmake
  cmake/build.h.in
  doc/lua.yaml
  doc/variables.yaml
  src/build.h.in
  src/core.cc
  src/llua.cc
  src/main.cc
Labels: documentation, sources

#1733 Update macos build images
  .github/workflows/build-and-test-macos.yaml
Labels: gh-actions

#1738 Fix bad new/delete usage
  src/x11.cc
Labels: bug, sources

#1750 Fix C mangling for lua bindings
  3rdparty/toluapp/include/tolua++.h
  3rdparty/toluapp/src/bin/lua/package.lua
Labels: bug, 3rdparty

#1752 Add wlr layer shell check
  src/display-wayland.cc
Labels: sources

#1754 Fix xcb include path
  cmake/ConkyPlatformChecks.cmake
Labels: bug

#1760 Enable wayland in appimage build
  appimage/build.sh
Labels: bug, appimage

#1762 Rotate appimage signing key
  appimage/build.sh
  appimage/pubkey.asc
  appimage/secret.gpg.enc
Labels: appimage
