Repository brndnmtthws/conky, pull requests merged in 2025-05, with the labels that each got.

#2193 Add error for missing wayland-scanner
  cmake/ConkyPlatformChecks.cmake
Labels: enhancement, build system

#2190 Improve X11 strut handling
  .git-blame-ignore-revs
  cmake/ConkyBuildOptions.cmake
  cmake/config.h.in
  doc/config_settings.yaml
  src/common.cc
  src/conky.cc
  src/conky.h
  src/data/top.cc
  src/data/top.h
  src/output/display-x11.cc
  src/output/gui.h
  src/output/x11.cc
  src/output/x11.h
Labels: enhancement, documentation, sources, display: x11, struts

#2194 Clear process lists in info before free
  src/data/top.cc
Labels: bug, cpu, sources

#2198 Fix segfault due to use-after-free of wl_seat_listener
  src/output/display-wayland.cc
Labels: bug, sources, display: wayland, mouse events

#2197 Add check for XDG_SESSION_TYPE not being set
  src/conky.cc
Labels: bug, sources

#2204 Added a check to verify if the script path is absolute or not.
  src/lua/llua.cc
Labels: sources, lua
