Repository brndnmtthws/conky, pull requests merged in 2025-03, with the labels that each got.

#2174 Add #include <cstdint> to fix building with gcc 15
  src/content/colours.hh
Labels: sources, text

#2175 Bump version
  cmake/Conky.cmake
Labels: build system

#2179 Docker: actually build the tagged releases
  .github/workflows/docker.yaml
Labels: gh-actions
