Repository brndnmtthws/conky, pull requests merged in 2025-01, with the labels that each got.

#2127 wayland: fix clean_text bug
  src/display-wayland.cc
Labels: bug, sources, display: wayland

#2130 Update build.sh for switch to newer appimagetool
  appimage/build.sh
Labels: appimage

#2132 Add compiler cache and fix CMake deprecation warnings
  .github/scripts/setup-sccache.sh
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/build-and-test-macos.yaml
  .github/workflows/publish-appimage.yml
  3rdparty/Vc/CMakeLists.txt
  3rdparty/Vc/cmake/OptimizeForArchitecture.cmake
  3rdparty/Vc/cmake/VcMacros.cmake
  CMakeLists.txt
  cmake/CCache.cmake
  cmake/ConkyBuildOptions.cmake
  cmake/ConkyPlatformChecks.cmake
  cmake/UninstallConky.cmake.in
  cmake/clang-tidy.cmake
  flake.nix
  src/CMakeLists.txt
  tests/CMakeLists.txt
Labels: enhancement, sources, tests, 3rdparty, gh-actions, dependencies, build system

#2133 Update blame ignore & labeler
  .git-blame-ignore-revs
  .github/labeler.yml
  .github/release.yml
Labels: gh-actions
