Repository brndnmtthws/conky, pull requests merged in 2025-02, with the labels that each got.

#2153 Check whether first_colour is set before using it as foreground color
  src/conky.cc
Labels: enhancement, sources, rendering

#2159 Switch Nix installer & cache for CI
  .github/workflows/nix.yaml
Labels: gh-actions

#2162 CI: sccache cache keys can be simpler
  .github/scripts/setup-sccache.sh
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/build-and-test-macos.yaml
  .github/workflows/publish-appimage.yml
Labels: gh-actions

#2163 Ubuntu 20.04 deprecated
  .github/workflows/build-and-test-linux.yaml
  .github/workflows/publish-appimage.yml
Labels: gh-actions

#2164 OpenBSD: Reimplement using bsdcommon.
  src/CMakeLists.txt
  src/data/os/bsdcommon.cc
  src/data/os/bsdcommon.h
  src/data/os/openbsd.cc
  src/data/os/openbsd.h
Labels: sources, os: openbsd

#2168 Added multi pointer support
  src/mouse-events.cc
  src/mouse-events.h
  src/output/display-x11.cc
  src/output/x11.cc
  src/output/x11.h
Labels: enhancement, sources, display: x11, mouse events
